<!DOCTYPE html>
<html>
  <head>
    <title>Issue Tracker</title>
    <meta name="description" content="A cool thing made with Glitch">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" 
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" 
          crossorigin="anonymous">
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <body class="container bg-dark text-light">
    <div class="bg"></div>
    
    <!-- Submit -->
    <section class="container p-0 mt-4">
      <header class="text-center">
        <h1 >Issue Tracker</h1>
      </header>
      <label>New issue:</label>
      <form id="testForm">
        <div class="row m-0">
          <div class="col-sm p-0">
            <div class="input-group">
              <input type="text" class="form-control" name="issue_title" placeholder="*Title" required>
            </div>
      	  <div class="col-sm p-0">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Assigned to" name="assigned_to">
            </div>
          </div>
        </div>
        <div class="col-sm p-0">
          <div class="input-group">
            <input type="text" class="form-control" name="created_by" placeholder="*Created by" required>
          </div>
        	<div class="col-sm p-0">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Status text" name="status_text">
            </div>
          </div>
        </div>
          <div class="col-sm p-0">
            <div class="input-group">
              <textarea class="form-control textarea" name="issue_text" placeholder="*Text" required></textarea>
            </div>
          </div>
        </div>  
        <button type="submit" class="btn btn-block btn-success">Submit</button>
      </form>
      <br><br>
    </section>
    
    <!-- Update -->
    <section class="container p-0">
      <label>Update issue:</label>
      <form id="testForm2">   
      <div class="row m-0">
        <div class="col-sm p-0"> 
          <div class="input-group">
            <input type="text" class="form-control" placeholder="*_id" name="_id" required>
          </div>
      	  <div class="col-sm p-0">
            <div class="input-group">
              <div class="custom-control custom-switch form-control">
                <input type="checkbox" class="custom-control-input" id="switch1" name="open" value="false">
                <label class="custom-control-label ml-2" for="switch1">Toggle to close issue</label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm p-0">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Title" name="issue_title">
          </div>
      	  <div class="col-sm p-0">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Assigned to" name="assigned_to">
            </div>
          </div>
        </div>
        <div class="col-sm p-0">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Created by" name="created_by">
          </div>
        	<div class="col-sm p-0">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Status text" name="status_text">
            </div>
          </div>
        </div>
          <div class="col-sm p-0">
            <div class="input-group">
              <textarea class="form-control textarea" name="issue_text" placeholder="Text"></textarea>
            </div>
          </div>
        </div>  
      <button type="submit" class="btn btn-block btn-success">Submit</button>
      </form>
      <br><br>
    </section>
    
    <!-- Delete -->
    <section class="container p-0">
      <label>Delete issue:</label>
      <form id="testForm3">
        <div class="input-group input-group" >
          <div class="input-group-prepend" >
            <span class="input-group-text">*_id</span>
          </div>
          <input type="text" name="_id" class="form-control" required>
          <div class="input-group-append">
    	      <button class="btn btn-danger" type="submit">Delete</button>
  	      </div>
        </div>
      </form>
      <br><br>
    </section>
    
    <!-- Result -->
    <section class="container p-0">
      <h5>Result: <code id="jsonResult"></code></h5>
      <footer>
        <h5 id="projects"></h5>
      </footer> 
    </section>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
		        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" 
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" 
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" 
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" 
            crossorigin="anonymous"></script>
    <script src="/public/index.js"></script>
  </body>
</html>